@page "/payment"

<PageTitle>Payment</PageTitle>

<h1>Payment</h1>

<button class="btn btn-primary" @onclick="ClearAllFields">Clear</button>
<button class="btn btn-primary" @onclick="Redirect2Pay">Pay</button>